<ion-view view-title="Budsjett" ng-controller="BudgetDetailsCtrl">
	<ion-content class="padding">
		<div class="item percentage-wrapper">
			<h2>{{budget.name}}</h2>
			<p>Budsjett: {{budget.amount}}</p>
			<p>Brukt: {{budget.used}}</p>
			<h1 class="percentage">{{(budget.used/budget.amount)*100 | currency:"":1}}%</h1>
		</div>
		<div class="list">
			<div class="card transaction-card" ng-repeat="transaction in user.transactions | filter:search">
				<a class="item item-avatar" href="#">
					<img ng-src="img/{{transaction.type}}.png" class="test" alt="logo">
					<h2><b>{{transaction.name}}</b> - {{transaction.to.name}}</h2>
					<p>{{transaction.amount | currency:"Kr. ":2}} fra {{transaction.budget.name}} budsjettet </p>
				</a>
			</div>
		</div>
</ion-view>